/*app.layouts*/
header{
    background-color: #c5f3df;
}

ul.app_ul{
    display:inline-block;
    position: absolute;
    top: 55px;
    right: 20px;
    
}
li.app_li {
    display: inline;
}
a{
    color:#e79ae5;
}

a:hover{
    color:#f56477;
}

ul.app_ul li.app_li {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 5px;
    line-height: 1.5;
    background: #dbebf8;
    vertical-align: middle;
    color: #505050;
    border-radius: 15px 15px 0px 15px;/*左側の角丸く*/
  }
  ul.app_ul li.app_li:before{ 

    content:'';
    width:1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
  }
/*TOP画面*/
.main_content{
    text-align: center;
    margin :auto;
    
}
.top_button{
    width:200px;
    height:200px!important;
    margin:40px;
}
/*会員一覧画面*/
.member_div{
    margin :auto;
    width:800px;
}
.mamber_button{
    height:32px;
}
.member_span{
    display:block;
    margin: 0 0 0 auto;
}
.member_dd{
    margin-left: 80px;
}

/*貸出一覧画面*/
.lending_dl{
    width:500px;
    margin:auto;
}

/*その他・共通クラス*/

/*テーブルサイズクラス*/
table{
    width: 60%;
    border-spacing: 0;
  }
  
/*テーブル内部クラス*/
table th{
    border-bottom: solid 2px #c5f3df;
    padding: 10px 0;
  }
/*テーブル内部クラス*/
table td{
    border-bottom: solid 2px #ddd;
    text-align: center;
    padding: 10px 0;
  }

/*文字のセンター揃え*/
.txt_center{
    text-align: center;
}

/*文字の左揃え*/
.txt_left{
    text-align: left;
}

/*文字の右揃え*/
.txt_right{
    text-align: right;
}
/*テーブル中央揃え*/
.table_center{
    margin: auto;
}

/*見出し*/
h2.title{
    font-size: 20px;
    font-weight: bold;
    border: solid 1px;
    width: 30%;
    margin: auto;
    padding:10px;
}

input{
    padding:5px;
    text-align: center;
}
input.lending_inp{
    width: 200px;
    margin-bottom: 10px;
}
/*要素の下に余白を付ける*/
.margin-bottom{
    margin-bottom: 15px;
}
/*要素の上に余白を付ける*/
.margin-top{
    margin-top: 15px;
}

.info_dl{
    width: 700px;
    margin: auto;
}
.info_dl dl {
    display: flex;
    flex-wrap: wrap;
  }
  .info_dl dt {
    width: 35%;
    padding: 20px;
    background-color: #DADADA;
    margin: 0 0 10px 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info_dl dd {
    width: 65%;
    padding: 20px;
    background-color: #F3F3F3;
    margin: 0 0 10px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  div.sub_block{
      display: inline-block;
  }

.w-5{
    width:20px;
}
nav.flex{
    text-align: center;
}
div.justify-between,p.text-sm{
    display: none;

} 
